$primary: hsl(0, 0%, 100%);
$secondary: hsl(221, 100%, 96%);
$tertiary: hsl(241, 100%, 89%);
$quartanary: hsl(224, 30%, 27%);

/* categories colours */

$reaction: hsl(0, 100%, 67%);
$memory: hsl(39, 100%, 56%);
$verbal: hsl(166, 100%, 37%);
$visual: hsl(234, 85%, 45%);